* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
  width: 200px;
  position: relative;
  border: 1px solid grey;
  padding-left: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
